{
	email {$ACME_EMAIL:admin@fybud.com}
}

{$FRONTEND_HOST:erp-demo.fybud.com} {
	encode gzip
	reverse_proxy frontend:80
}

{$BACKEND_HOST:api.erp-demo.fybud.com} {
	encode gzip
	reverse_proxy backend:4000 {
		flush_interval -1
	}
}
